<div class="row">
  <div class="col-12">
    <h1><%= @article.title %>
      <%= link_to raw('<i class="fas fa-pencil-alt"></i>'), edit_article_path(@article)%> |
      <%= link_to raw('<i class="fas fa-trash-alt"></i>'), '#', data: { confirm: article_path(@article) },method: :delete %>
    </h1>
    <p><%= @article.content %></p>
  </div>
</div>

